	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Mongo Scraper</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="btn btn-primary" id="btnScrape">Scrape</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/saved"  class="btn btn-primary" id="savedArt">Saved Articles</a>
			</div>
		</div>
	</nav>
	<div class="jumbotron jumbotron-fluid">
		<div class="container" id="title">
			<h1 class="display-4">Mongo Scraper</h1>
			<p class="lead">Scrape the news.</p>
		</div>
	</div>




{{#each articles}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card text-center">
        <div class="card-header">

        </div>
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text"> <a href="{{link}}">{{link}}</a></p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Make Note
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

{{/each}}

{{!-- modal --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="userInput">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Type your thoughts</label>
            <textarea class="form-control" id="comments" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> --}}
        <button type="button" id="btnNote" class="btn btn-primary" >Save changes</button>
      </div>
    </div>
  </div>
</div>

<div id="articles"></div>
<div id="notes"></div>

	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="../assets/javascript/index.js"></script>